
<!-- 移した -->
<div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>

  <!-- User NOT logged in -->
  <ng-template #guest>
    <h3>ようこそ、ゲストさん</h3>
    <p>続けるにはログインが必要です</p>

    <button class="btn btn-dark" (click)="auth.googleSignin()">
      <i class="fa fa-google"></i> Googleアカウントでログイン
    </button>

  </ng-template>


  <!-- User logged in -->
  <ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user">
      <h3>ようこそ、{{ user.displayName }}さん</h3>
    </div>

    <button class="btn btn-dark" (click)="toNote()">ノート表示</button>
    <button class="btn btn-dark" (click)="toAddLecture()">追加</button>
    <button class="btn btn-dark" (click)="auth.signOut()">ログアウト</button>
  </ng-template>
